@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(163, 163, 163);
  display: flex;
  justify-content: center;
  color: #222a35;
}

.resume {
  width: 60%;
  display: flex;
  position: relative;
  box-shadow: 0px 0px 25px rgb(61, 61, 61);
}

/* Left Side Portion */

.left {
  width: 25%;
  background-color: #222a35;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.hideSkills {
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  padding: 7px 14px;
  background-color: white;
  color: #222a35;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

img {
  position: absolute;
  z-index: 99999;
  width: 100%;
  top: 18%;
  left: 100%;
  transform: translate(-50%, -50%);
  border: 3px solid crimson;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 5vh;
  letter-spacing: 2.2vh;
}

/* Right Side Portion */

.right {
  position: relative;
  width: 75%;
  background-color: white;
}

.shape1 {
  position: absolute;
  top: 14vh;
  right: 0;
  width: 2vw;
  height: 100px;
  transform: skewY(-30deg);
  background-color: crimson;
  color: crimson;
}

.shape2 {
  position: absolute;
  top: 17vh;
  right: 0;
  width: 2vw;
  height: 150px;
  transform: skewY(30deg);
  background-color: crimson;
  color: crimson;
}

/* Name Heading */

h1 {
  color: crimson;
  text-transform: uppercase;
  line-height: 2.9rem;
  font-size: 3rem;
  margin: 10% 0px 10px 25%;
}

span {
  color: #222a35;
}

/* Designation */

h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-left: 25%;
  margin-bottom: 10px;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

/* Contact Info */

.contact {
  font-size: 0.85rem;
  font-weight: 500;
  margin-left: 25%;
}

.icons {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.icons span {
  width: 25px;
}

.fa-solid {
  color: crimson;
}

.icons p {
  justify-content: center;
}

/* Bottom Part of Right Side */

.right-bottom {
  margin-top: 35px;
}

.sec {
  width: 85%;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

h3 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-transform: uppercase;
  margin-left: -15px;
  z-index: 9999;
  background-color: crimson;
  padding: 25px 5px;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

h6 {
  line-height: 15px;
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.paraText {
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 6px;
}

.para {
  margin-top: 10px;
  margin-left: 20px;
  line-height: 20px;
}

.skills-list {
  font-weight: 600;
  margin-left: 35px;
  font-size: 0.89rem;
  margin-bottom: 6px;
  line-height: 17px;
}

/* Color Changing Button */

.colorChange {
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
  margin: 35px 50px;
  align-items: center;
}

.colorPicker {
  cursor: pointer;
  width: 80px;
  height: 40px;
  border: none;
  margin-left: 10px;
}

/* Copy Right Info - Footer  */

.copyRights {
  color: white;
  background-color: #222a35;
  position: absolute;
  border-top: 3px solid crimson;
  width: 100%;
  height: 25px;
  text-align: center;
  bottom: 0px;
  font-size: 0.65rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.copyRights {
  padding-top: 3px;
}

/* Responsive */

@media screen and (max-width: 900px) {
  .resume {
    width: 100%;
  }
}
